/* line 5, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, D:/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 5, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei"; }

/* line 10, ../sass/style.scss */
i {
  font-style: normal; }

/* line 13, ../sass/style.scss */
a {
  text-decoration: none; }

/* line 14, ../sass/style.scss */
.wrapper:after, .content:after, .content .content_list li .all_bar:after {
  height: 0;
  visibility: hidden;
  display: block;
  overflow: hidden;
  content: "11";
  clear: both; }

/* line 22, ../sass/style.scss */
.wrapper {
  width: 100%; }

/* line 28, ../sass/style.scss */
.content {
  width: 1200px;
  margin: 0 auto; }

/* line 37, ../sass/style.scss */
.header .header_img {
  height: 235px; }
  /* line 39, ../sass/style.scss */
  .header .header_img img {
    width: 100%;
    height: 100%; }
/* line 44, ../sass/style.scss */
.header .bgc {
  background: #c21a19;
  height: 35px; }
  /* line 47, ../sass/style.scss */
  .header .bgc .content {
    color: #fff; }
    /* line 49, ../sass/style.scss */
    .header .bgc .content a {
      color: #fff; }
      /* line 51, ../sass/style.scss */
      .header .bgc .content a:hover {
        color: #ffdc04; }

/* line 58, ../sass/style.scss */
.content {
  font-size: 13px; }
  /* line 60, ../sass/style.scss */
  .content .content_login {
    float: left;
    margin-top: 10px; }
    /* line 63, ../sass/style.scss */
    .content .content_login span {
      margin-right: 20px; }
  /* line 67, ../sass/style.scss */
  .content .content_list > li > div {
    border: 1px solid #f5f5f5;
    border-top: none;
    position: absolute;
    z-index: 100;
    top: 33px; }
    /* line 73, ../sass/style.scss */
    .content .content_list > li > div a {
      color: #000; }
  /* line 77, ../sass/style.scss */
  .content .content_list {
    float: right;
    height: 35px; }
    /* line 81, ../sass/style.scss */
    .content .content_list li {
      padding: 10px 0;
      padding-left: 10px;
      padding-right: 5px;
      float: left;
      position: relative; }
      /* line 87, ../sass/style.scss */
      .content .content_list li .icon1 {
        background: url(../images/icon/icon1.png) no-repeat right center;
        padding-right: 15px; }
      /* line 91, ../sass/style.scss */
      .content .content_list li .icon2 {
        background: url(../images/icon/icon2.png) no-repeat left center;
        padding-left: 15px; }
      /* line 95, ../sass/style.scss */
      .content .content_list li .icon3 {
        background: url(../images/icon/icon3.png) no-repeat left center;
        padding-left: 15px; }
        /* line 98, ../sass/style.scss */
        .content .content_list li .icon3 i {
          color: #fff; }
      /* line 102, ../sass/style.scss */
      .content .content_list li .icon4 {
        background: url(../images/icon/icon1.png) no-repeat right center;
        padding-right: 15px; }
      /* line 106, ../sass/style.scss */
      .content .content_list li .icon5 {
        background: url(../images/icon/icon4.png) no-repeat left center;
        padding-left: 15px; }
      /* line 110, ../sass/style.scss */
      .content .content_list li .icon6 {
        background: url(../images/icon/icon1.png) no-repeat right center;
        padding-right: 15px; }
      /* line 114, ../sass/style.scss */
      .content .content_list li .icon7 {
        background: url(../images/icon/icon1.png) no-repeat right center;
        padding-right: 15px; }
      /* line 118, ../sass/style.scss */
      .content .content_list li .icon_left {
        background: url(../images/icon/icon5.png) no-repeat left center; }
      /* line 122, ../sass/style.scss */
      .content .content_list li .nav_list {
        left: 0;
        right: -20px;
        background: #fff;
        padding-top: 10px;
        display: none; }
        /* line 127, ../sass/style.scss */
        .content .content_list li .nav_list a {
          display: block;
          padding: 0 10px;
          padding-bottom: 10px;
          color: #000; }
      /* line 135, ../sass/style.scss */
      .content .content_list li .nav_img {
        left: -40px;
        display: none; }
      /* line 140, ../sass/style.scss */
      .content .content_list li .all_bar p, .content .content_list li .nav_bar p {
        margin-bottom: 22px;
        font-size: 18px;
        color: #000; }
      /* line 145, ../sass/style.scss */
      .content .content_list li .all_bar a, .content .content_list li .nav_bar a {
        color: #000; }
      /* line 149, ../sass/style.scss */
      .content .content_list li .nav_bar {
        display: none;
        font-size: 12px;
        left: -50px;
        right: 0;
        background: #fff;
        padding-top: 10px; }
        /* line 156, ../sass/style.scss */
        .content .content_list li .nav_bar ul {
          border-bottom: 1px dotted #666; }
        /* line 159, ../sass/style.scss */
        .content .content_list li .nav_bar li {
          color: #000;
          padding-top: 0;
          padding-bottom: 10px;
          float: none; }
          /* line 160, ../sass/style.scss */
          .content .content_list li .nav_bar li a {
            margin-right: 7px; }
        /* line 168, ../sass/style.scss */
        .content .content_list li .nav_bar div {
          padding-left: 10px;
          position: none;
          padding-bottom: 10px; }
          /* line 172, ../sass/style.scss */
          .content .content_list li .nav_bar div span {
            margin-top: 10px;
            color: #000;
            display: block; }
          /* line 178, ../sass/style.scss */
          .content .content_list li .nav_bar div .last {
            border-bottom: 1px dotted #666; }
      /* line 184, ../sass/style.scss */
      .content .content_list li .all_bar {
        display: none;
        left: -1118px;
        right: 0;
        background: #fff;
        padding-bottom: 61px; }
        /* line 190, ../sass/style.scss */
        .content .content_list li .all_bar a {
          margin-bottom: 16px;
          display: inline-block;
          font-size: 12px;
          color: #666; }
          /* line 195, ../sass/style.scss */
          .content .content_list li .all_bar a:hover {
            text-decoration: underline; }
        /* line 203, ../sass/style.scss */
        .content .content_list li .all_bar div {
          float: left; }
        /* line 204, ../sass/style.scss */
        .content .content_list li .all_bar .first_bar {
          width: 290px;
          padding-left: 30px;
          border-right: 1px solid #f5f5f5;
          margin-top: 27px; }
          /* line 209, ../sass/style.scss */
          .content .content_list li .all_bar .first_bar p {
            color: #f56a00; }
          /* line 213, ../sass/style.scss */
          .content .content_list li .all_bar .first_bar .all_kind a {
            width: 55px;
            margin-right: 35px; }
            /* line 216, ../sass/style.scss */
            .content .content_list li .all_bar .first_bar .all_kind a:hover {
              color: #f56a00; }
        /* line 222, ../sass/style.scss */
        .content .content_list li .all_bar .second_bar {
          padding-left: 30px;
          border-right: 1px solid #f5f5f5;
          margin-top: 27px;
          width: 375px; }
          /* line 227, ../sass/style.scss */
          .content .content_list li .all_bar .second_bar p {
            color: #4078da; }
          /* line 231, ../sass/style.scss */
          .content .content_list li .all_bar .second_bar .all_kind a {
            margin-right: 65px; }
            /* line 233, ../sass/style.scss */
            .content .content_list li .all_bar .second_bar .all_kind a:hover {
              color: #4078da; }
        /* line 239, ../sass/style.scss */
        .content .content_list li .all_bar .third_bar {
          padding-left: 30px;
          border-right: 1px solid #f5f5f5;
          margin-top: 27px;
          width: 250px; }
          /* line 244, ../sass/style.scss */
          .content .content_list li .all_bar .third_bar p {
            color: #000; }
          /* line 248, ../sass/style.scss */
          .content .content_list li .all_bar .third_bar .all_kind a {
            width: 60px;
            margin-right: 20px; }
            /* line 251, ../sass/style.scss */
            .content .content_list li .all_bar .third_bar .all_kind a:hover {
              color: #000; }
        /* line 258, ../sass/style.scss */
        .content .content_list li .all_bar .forth_bar {
          width: 160px;
          padding-left: 30px;
          margin-top: 27px; }
          /* line 262, ../sass/style.scss */
          .content .content_list li .all_bar .forth_bar p {
            color: #333; }
          /* line 266, ../sass/style.scss */
          .content .content_list li .all_bar .forth_bar .all_kind a {
            width: 120px; }
            /* line 268, ../sass/style.scss */
            .content .content_list li .all_bar .forth_bar .all_kind a:hover {
              color: #333; }
    /* line 278, ../sass/style.scss */
    .content .content_list .down_list:hover {
      background: #fff; }

/* line 285, ../sass/style.scss */
.bg {
  background: url(../images/h2.png) no-repeat;
  height: 156px;
  padding-top: 26px; }
  /* line 289, ../sass/style.scss */
  .bg .search {
    margin: 0 auto;
    position: relative;
    height: 40px;
    width: 500px;
    background: #c21a19; }
    /* line 295, ../sass/style.scss */
    .bg .search .search_text {
      width: 408px;
      height: 30px;
      position: absolute;
      left: 3px;
      top: 3px;
      border: none;
      color: #666;
      font-size: 16px;
      text-indent: 8px; }
    /* line 306, ../sass/style.scss */
    .bg .search .search_box {
      position: absolute;
      height: 40px;
      width: 89px;
      border: none;
      background: #c21a19;
      left: 411px;
      top: 0;
      color: #fff;
      font-size: 20px;
      font-weight: bold; }
    /* line 318, ../sass/style.scss */
    .bg .search .search_result {
      display: none;
      position: absolute;
      left: 2px;
      top: 35px;
      z-index: 10;
      width: 408px;
      background: #fff;
      border: 1px solid #999; }
      /* line 327, ../sass/style.scss */
      .bg .search .search_result li {
        padding: 10px;
        font-size: 12px; }
        /* line 330, ../sass/style.scss */
        .bg .search .search_result li:hover {
          color: #fff;
          background: #c21a19; }
  /* line 338, ../sass/style.scss */
  .bg .keyword {
    margin: 0 auto;
    margin-top: 8px;
    width: 500px; }
    /* line 342, ../sass/style.scss */
    .bg .keyword a {
      font-size: 15px;
      font-family: 'SimSun';
      padding: 0 10px;
      color: #fff;
      border-right: 1px solid #ccc; }
      /* line 348, ../sass/style.scss */
      .bg .keyword a i {
        color: #ffdc04; }
    /* line 352, ../sass/style.scss */
    .bg .keyword .last {
      border: none; }
  /* line 356, ../sass/style.scss */
  .bg .nav_bar {
    margin-left: 217px;
    margin-top: 40px;
    color: #fff; }
    /* line 360, ../sass/style.scss */
    .bg .nav_bar li {
      font-size: 16px;
      display: inline-block; }
      /* line 363, ../sass/style.scss */
      .bg .nav_bar li a {
        color: #fff; }
        /* line 365, ../sass/style.scss */
        .bg .nav_bar li a:hover {
          color: #ffdc04; }
    /* line 370, ../sass/style.scss */
    .bg .nav_bar li:nth-of-type(even) {
      padding: 0 12px; }
